/* Estilos generales */

header {
    margin: 0 -15px;
}

#new-problem {
    grid-area: pub;
    padding: 25px;
    height: min-content;
}

main {
    grid-area: pro;
}

/* ->Estilos generales */

/* Publicar un nuevo problema */

#new-problem h2 {
    font-size: 16px;
}

/* ->Publicar un nuevo problema */

/* Sección de problemas */

main h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

main .problem {
    margin-bottom: 20px;
    padding: 20px;
}

main .problem h2 {
    font-size: 20px;
}

main .problem .username {
    font-size: 17px;
    font-weight: bold;
    margin: 7px 0;
}

main .problem h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 15px 0;
}

/* ->Sección de problemas */

/* Sección de respuestas */

#modal h2 {
    padding: 20px;
    text-align: center;
    font-size: 25px;
}

#modal .coment {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

#modal .coment:last-child {
    border-bottom: none;
}

/* ->Sección de respuestas */