/* Dispositivos extra grandes */
@media (max-width: 1999px) {

}

/* Dispositivos grandes */
@media (max-width: 991px) {
    .home {
        grid-template-areas: "hd hd hd hd     hd       hd      hd      hd      hd    hd hd hd"
                             ".  .  .  .      .        .       .       .       .     .  .  ."
                             ".  .  .  main   main     main    main    main    main  .  .  ."
                             ".  .  .  .      .        .       .       .       .     .  .  ."
    }

    .problems {
        grid-template-areas: "hd  hd  hd  hd  hd  hd  hd  hd  hd  hd  hd  hd"
                             "pub pub pub pub .   pro pro pro pro pro pro pro"
                             ".   .   .   .   .   pro pro pro pro pro pro pro"
    }
}

/* Dispositivos medianos */
@media (max-width: 767px) {
    .problems {
        grid-template-areas: "hd  hd  hd  hd  hd  hd  hd  hd  hd  hd  hd  hd"
                             "pub pub pub pub pub pro pro pro pro pro pro pro"
                             ".   .   .   .   .   pro pro pro pro pro pro pro"
    }
}

/* Dispositivos pequeños */
@media (max-width: 575px) {
    .home {
        grid-template-areas: "hd hd hd    hd     hd       hd      hd      hd      hd    hd    hd hd"
                             ".  .  .     .      .        .       .       .       .     .     .  ."
                             ".  .  main  main   main     main    main    main    main  main  .  ."
                             ".  .  .     .      .        .       .       .       .     .     .  ."
    }

    .problems {
        grid-template-areas: "hd  hd  hd  hd  hd  hd  hd  hd  hd  hd  hd  hd"
                             "pub pub pub pub pub pub pub pub pub pub pub pub"
                             "pro pro pro pro pro pro pro pro pro pro pro pro"
    }
}

/* Dipositivos extra pequeños */
@media (max-width: 400px) {
    .home {
        grid-template-areas: "hd hd    hd    hd     hd       hd      hd      hd      hd    hd    hd     hd"
                             ".  .     .     .      .        .       .       .       .     .     .      ."
                             ".  main  main  main   main     main    main    main    main  main  main   ."
                             ".  .     .     .      .        .       .       .       .     .     .      ."
    }
}