/* Estilos generales */

header {
    margin: 0 -15px;
}

#new-problem {
    grid-area: pub;
    padding: 25px;
    height: min-content;
}

main {
    grid-area: pro;
}

/* ->Estilos generales */

/* Publicar un nuevo problema */

#new-problem h2 {
    font-size: 16px;
}

/* ->Publicar un nuevo problema */

/* Sección de problemas */

main h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

main .problem {
    margin-bottom: 20px;
    padding: 20px;
}

main .problem h2 {
    font-size: 20px;
}

main .problem .username {
    font-size: 17px;
    font-weight: bold;
    margin: 7px 0;
}

main .problem h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 15px 0;
}

/* ->Sección de problemas */

/* Sección de respuestas */

#modal h2 {
    padding: 20px;
    text-align: center;
    font-size: 25px;
}

#modal .coment {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

#modal .coment:last-child {
    border-bottom: none;
}

/* ->Sección de respuestas */

/* Botón para ir a la configuración */

#open-config {
    position: fixed;
    bottom: 15px;
    right: 25px;
    display: inline-block;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background: #f44336;
    border-radius: 100%;
    color: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.47);
}

#open-config .config-button {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: 0.1s all ease;
    transform: rotateZ(0);
    -webkit-transform: rotateZ(0);
    -moz-transform: rotateZ(0);
    -ms-transform: rotateZ(0);
    -o-transform: rotateZ(0);
    -webkit-transition: 0.1s all ease;
    -moz-transition: 0.1s all ease;
    -ms-transition: 0.1s all ease;
    -o-transition: 0.1s all ease;
}

#open-config .config-button:hover {
    transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
}

/* ->Botón para ir a la configuración */