<header>
    <div class="image-container">
        <a href="/">Logo</a>
    </div>
    {{#switch data.page}}

        {{#case "login"}}
            {{!-- Está en la página de login --}}
            <a href="/register" class="login-register-button" title="Registrarme">Registrarme</a>
        {{/case}}

        {{#default "def"}}
            {{#if (ifCond ../data.page "==" "problems")}}
                {{!-- Si está en la página donde se publican los problemas --}}
                <div class="header-options">
                    <div class="combo">
                        <input id="search-by-category" type="text" class="combo-input v3" readonly value="Todas" data-value="0">
                        <i class="arrow fas fa-angle-down"></i>
                        <div class="combo-options">
                            <div class="combo-option" data-value="0">
                                <span>Todas</span>
                            </div>
                            {{#each ../data.categories}}
                            <div class="combo-option" data-value="{{_id}}">
                                <span>{{name}}</span>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <a href="/logout" id="logout" title="Cerrar sesión">
                        <i class="fas fa-power-off"></i>
                    </a>
                </div>
            {{else if (ifCond ../data.page "!=" "config")}}
                {{!-- Cualquier otra página que no sea la de configuración ni la de login ni la de problemas --}}
                <a href="/" class="login-register-button" title="Iniciar sesión">Entrar</a>
            {{/if}}
        {{/default}}

    {{/switch}}


    
</header>