<!DOCTYPE html>
<html lang="es">

<head>
    {{> head }}
    <link rel="stylesheet" href="css/page1.css">
    <title>Entrar - Problemas</title>
</head>

<body>
    <div class="home">
        {{> header }}
        <main role="main">
            <div class="card main-form">
                <div class="header-form">
                    <h1>Recuperar contrase침a</h1>
                    <span class="off">Si perdiste tu contrase침a puedes solicitar reestablecer tu contrase침a</span>
                </div>
                <form action="/recover" method="post">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope-square"></i></span>
                        </div>
                        <input type="email" class="form-control" placeholder="Correo electr칩nico">
                    </div>
                    <div class="button-container">
                        <button type="submit" class="btn button-1">Recuperar</button>
                    </div>
                </form>
            </div>
        </main>
    </div>
    {{> footer }}
</body>

</html>